@page "/listview"

@inject IAppInfo appInfo
@inject TransporterListViewModel ViewModel

<h1>Units</h1>

@if (ViewModel.Transporters is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="@tableStyle">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date Time</th>
				<th>Address</th>
				<th>Speed (Km/Hr)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewModel.Transporters)
			{
				<tr>
					<td>@item.DeviceName</td>
					<td>@item.DeviceDateTime.DateTime</td>
					<td>@item.Address</td>
					<td>@item.Speed</td>
				</tr>
			}
		</tbody>
	</table>
}
